@{
    ViewData["Title"] = "Home Page";
}
<div style="overflow: hidden;">
    <div class="titleslider">
        <h1>Porsche - как стиль жизни</h1>
    </div>
    <div class="sim-slider">
        <ul class="sim-slider-list">
            <li class="sim-slider-element"><img src="https://carsweek.ru/upload/medialibrary/52c/52caab847aa75dbf4466d32b07a296b6.jpg" alt="0"></li>
            <li class="sim-slider-element"><img src="https://cdn.motor1.com/images/mgl/kJWEN/s1/2020-porsche-taycan.jpg" alt="1"></li>
            <li class="sim-slider-element"><img src="https://carsweek.ru/upload/uf/ecf/ecf471eb59a970d32f85014b020c56f2.jpg" alt="2"></li>
            <li class="sim-slider-element"><img src="https://i.pinimg.com/originals/2a/ca/c0/2acac0302ee5972b4bac7514b2db39ae.jpg" alt="3"></li>
        </ul>
        <div class="sim-slider-arrow-left"></div>
        <div class="sim-slider-arrow-right"></div>
        <div class="sim-slider-dots"></div>
    </div>
    <div class='sliderfooter'>
        <p class="sliderfooter_title">
            <span class="spantitle">Porsche AG - </span>
            <span class="spansubtitle">
                полное наименование Doktor Ingenieur honoris causa Ferdinand Porsche Aktiengesellschaft) — немецкий производитель автомобилей и солнцезащитных очков,
                основанный конструктором Фердинандом Порше в 1931 году,
                в настоящее время — дочерняя структура Porsche Automobil Holding. Штаб-квартира и основной завод находятся в Штутгарте, Германия.
            </span>
        </p>

    </div>
</div>
<script>new Sim()</script>

